/.Xauthority
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.dotnet
/.gitconfig
/.ipython
/.jupyter
/.local
/.profile
/.sudo_as_admin_successful
/.viminfo
/.vimrc
/.vscode-server
/.wget-hsts
/.xorgxrdp.10.log
/.xorgxrdp.10.log.old
/.xsession-errors
/.xsession-errors.old
/Bookshelf
/Desktop
/Documents
/Downloads
/Music
/Pictures
/Public
/Templates
/Videos
/thinclient_drives